@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #131019;
  background-color: #f6f1ea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid rgba(15, 122, 111, 0.35);
  outline-offset: 3px;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}
